<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Smart Schedule, <%= @player.name %></h1>
    <p>
      You have been registered to Smart Schedule.
      <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
