
<style>
  .left_team{
    float: left;
  }
  .right_team{
    float: right;
  }
</style>
<div class="left_team">
<%= Team.find(@game.team_one).name %>
</div>
<div class="right_team">
<%= Team.find(@game.team_two).name %>
</div>
